@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lora&family=Mohave&family=Montserrat&family=Montserrat+Alternates:wght@300&family=Roboto:ital@1&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Fruktur&family=Lora&family=Mohave&family=Montserrat&family=Montserrat+Alternates:wght@300&family=Roboto:ital@1&family=Shalimar&display=swap');

*{
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

